*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-size: 20px;
}

/* HEADER */

.containerhead{
    width: 70%;
    height: 50px;
    margin: 30px;
    display: flex;
    margin: 10px auto;
}
 .containerhead>div{
    display: flex;
    align-items: center;
 }
.logo{
    justify-content: flex-start;
    background-color: red;
    width: 25%;
    padding: 10px;
}

.linkbox{
    background-color: green;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login{
    background-color: pink;
    width: 25%;
    justify-content: flex-end;
    padding: 10px;
}

/* MAIN */

.backbox{

    display: flex;
    align-items: center;
    justify-content: center;
}

.midbox1{
    width: 50%;
    height: 300px;
    background-color: lightskyblue;
    margin: 30px;
}

.midbox2{
    width: 70%;
    height: 400px;
    margin: 30px;
    display: flex;
}

.midbox3{
    width: 70%;
    height: 800px;
    margin: 30px;
    background-color: green;
}   

.smallbox1{
    background-color: yellow;
    width: 60%;
    height: 100%;
}

.smallbox2{
    background-color: blue;
    width: 40%;
    height: 100%;
}

.reverse{
    flex-direction: row-reverse;
}

.bwhite{
    background-color: white;
}
.bgrey{
    background-color: lightgrey;
}
.bblue{
    background-color: blue;
}

/* FOOTER */

.midbox4{
    width: 70%;
    height: 500px;
    margin: 5px 0 15px;
    display: flex;
    background-color: red;
}



.bdarkgrey{
    background-color: darkgrey;
}